---
import { commands } from "../data/command";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/bunny/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bunny</title>
  </head>
  <body>
    <h1>Bunny</h1>
    <table class="table-auto">
      <thead>
        <tr>
          <th>Shortcut</th>
          <th>Name</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        {
          Object.entries(commands).map(([shortcut, command]) => (
            <tr>
              <td>{shortcut}</td>
              <td>{command.name}</td>
              <td>{command.url}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </body>
</html>
