---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/bunny/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bunny</title>
  </head>
  <body>
    <h1>Bunny</h1>
    <p><a href="/bunny/cmd?q=fb">Command</a></p>
  </body>
</html>
